<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div style="padding-bottom:2px">
<ul>
  <div class="nav"><li style="padding-top:18px"><div  style="color:rgb(228, 224, 224)" style="margin-left:8px">NEO ROOMS</div></li></div>
  <li style="margin-left:30px"><a href="#DashBoard">DashBoard</a></li>
  <li style="margin-left:30px"><a href="#Bookings">Bookings</a></li>
  <li style="float:right"><div style="padding-right:10px"><a class="active" href="#logout">Logout</a></div></li>
  <div style="margin-top:14px" ><mat-icon style="float:right" >logout</mat-icon></div>
</ul>
</div>
</body>
</html>
